.movies {
    min-height: 100vh;

    form {
        margin-bottom: 3rem;
    }
    input {
        display: block;
        width: 100%;
        padding: .8rem 0rem;
        font-size: 1.2rem;
        text-indent: 20px;
    }
}