$red:#E50914;

.home {
    min-height: 100vh;
    position: relative;
    .header {
        background: transparent;
        position: relative;
        z-index: 2000;
        a, span {
            color: white;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(black, 0.6)
    }

    .content {
        z-index: 2000;
        position: relative;
        width: 800px;
        max-width: 90%;
        margin: 6rem auto 0;
        text-align: center;
        color: white;
    
    }


    .text-wrapper {
        margin-bottom: 2rem;
        
        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .input-wrapper {
        display: flex;

        input {
            width: 70%;
            padding: 1rem 0rem;
            text-indent: 20px;
            font-size: 1.2rem;
            font-weight: 800;
        }
        button {

            width: 30%;
            background: $red;
            color: white;
            font-size: 1.2rem;
        }
    }
}

@media(max-width: 800px) {
    .home {
        .content {
            top: 60%;
        }
        .content h1 {
            font-size: 2.5rem;
        }

        .input-wrapper {
            flex-direction: column;
            input, button {
                width: 100%;
                font-size: 1;
                padding: 0.8rem 0rem;
            }

            input {
                margin-bottom: 1rem;
            }
            button {
                padding: 1rem 0rem;
            }
        }
    }
}


@media(max-width: 500px) {

    .home .content {
        margin-top: 2rem;
    }

    .home .content h1 {
        font-size: 2rem;
    }
}