.header  {

    position: relative;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav {
            display: flex;
            align-items: flex-end;
        }

        a {
            margin-left: 1rem;
            font-size: 1.2rem;
            color: white;
        }

        span {
            margin-left: 1rem;
            cursor: pointer;
        }
    }
    img {
        width: 200px;
    }
}

@media(max-width: 800px) {
    .header .container {
        flex-direction: column;
        padding-bottom: 2rem;
    }
}