.header  {

    position: relative;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav {
            display: flex;
            align-items: center;
        }

        a {
            margin-left: 1rem;
            font-size: 1.2rem;
            color: white;
            &.cta {
                color: white;
                display: inline-block;
                background: red;
                padding: 0.8rem 3rem;
                border-radius: 5px;
                font-weight: 800;
            }
        }

        span {
            margin-left: 1rem;
            cursor: pointer;
        }
    }
    img {
        width: 200px;
    }
}

@media(max-width: 800px) {
    .header .container {
        flex-direction: column;
        padding-bottom: 2rem;
    }
}