.movie {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    align-items: center;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(black, 0.5)
    }
    
    
    .content {
        width: 900px;
        max-width: 90%;
        margin: 0 auto 0;
        position: relative;
        color: white;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
        background: rgba(black, 0.5); 
        padding: 2rem;
        border-radius: 10px;

        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }


        p {
            font-size: 1.2rem;
            line-height: 1.2
        }

        img {
            width: 100%;
        }
    }

    @media(max-width: 800px) {

        .content {
            grid-template-columns: 1fr;
            text-align: center;
            img {
                width: 250px;
                display: block;
                margin: 0 auto;
            }
        }
    }
    
}


