$red:#E50914;


* { 
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: white;
    background: RGB(32, 40, 48);
}

a {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


button {
    outline: none;
    border: none;
    cursor: pointer;
}

.title {
    font-size: 3rem;
    margin: 2rem 0rem;
    text-transform: capitalize;

    span {
        color: $red;
    }
}

.title-small {
    font-size: 1.8rem;
    margin-bottom: 1rem;

    span {
        color: $red;
    }
}

.error {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: $red;
    font-weight: 500;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

.wrapper {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 20px;
    text-align: center;
    h1 {
        font-size: 1.2rem;
        color: white;
    }

    img {
        width: 100%;
        margin-bottom: .8rem;
    }

}

// main form
.main-form {

    min-height: 80vh;
    background: orange;
    position: relative;

    .overlay {
        position: absolute;
        top:0;
        left: 0;
        right:0;
        bottom: 0;
        background: rgba(black, 0.5)
    }

    .content {
        position: relative;
        background: rgba(black, 0.4);
        width: 540px;
        max-width: 100%;
        margin: 0 auto;
        padding: 2rem;
        border-radius:10px;
    }

    .title {
        text-align: center;
    }
}

.form-wrapper {
    width: 540px;
    max-width: 90%;
    margin: 0 auto;
    input {
        display: block;
        width: 100%;
        padding: 0.8rem;
        margin-bottom: 1rem;
        text-indent: 20px;
        font-size: 1.2rem;
    }

    button {
        
            display: block;
            width: 100%;
            padding: 1rem 0rem;
            background: $red;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            border: none;
            margin-bottom: 2rem;
            &.google {
                background: blue;
            }
    }

    p {
        font-size: 1.2rem;
        a {
            color: $red;
            text-transform: uppercase;
            transition: all ease-in-out 300ms;
            &:hover {
                color: white;
            }
        }
    }
}

.button-wrapper {
    padding: 2rem 0rem;

    button {
        display: block;
        width: 100%;
        padding: 1rem 0rem;
        background: $red;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all ease-in-out 300ms;
        border: 2px solid transparent;
        &:hover {
            background: white;
            color: $red;
            border: 2px solid $red;
        }
    }
}


// item unit
.item-unit {
    
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: top left;
    color: white;
    padding: 3rem 3rem 8rem 3rem;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
       background: rgba(black, .5)

    }

    .img-wrapper {
        position: relative;
        width: 300px;
    }
  
    

    .content-wrapper {
        width: 800px;
        max-width: 100%;
        position: relative;
        margin-top: 8rem;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.4rem;
        line-height: 1.3;
        margin-bottom: 2rem;
    }

    .button-wrapper {
        display: flex;
        width: 300px;
        max-width: 100%;
        justify-content: space-between;

         button {
        background: transparent;
        border: 2px solid white;
        border-radius:50px;
        margin-right: 1rem;
        &:hover {
            background: white;
            color: $red;

        }
        &.play {
            background: $red;
            border: 2px solid transparent;
            &:hover {
                background: white;
                color: $red;
            }
        }
    }
    }
   

   
   
}


// layout
.layout {
    width: vw;
    min-height: 100vh;
}


.user-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-bottom: 2rem;
    img {
        width: 100%;
    }

    h1 {
        color: $red;
    }

    .unit {
        transition: all ease-in-out 300ms;
        &:hover {
            transform: scale(1.1);
            z-index: 4000
        }
    }
}





// media queries

@media(max-width: 1000px) {

    .wrapper {
        grid-template-columns: repeat(3, 1fr);

        h1 {
            font-size: 1rem;
        }
    }

    .img-wrapper {
            margin: 0 auto;
    }

    .item-unit {

        .content-wrapper {
            margin-top: 4rem;

            h1 {
                font-size: 3rem;
            }

            p {
                margin-bottom: 1rem;
            }
        }
    }
}


@media(max-width: 800px) {

    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        
    }


     .title {
        font-size: 2.5rem;
    }

    .user-list {
        grid-template-columns: repeat(4, 1fr);
    }
}




@media(max-width: 500px) {
    .item-unit {

        .content-wrapper {
            h1 {
                font-size: 2rem;
            }
        }

        .button-wrapper button {
            font-size: 1rem;
            padding: 1rem;
        }
    }

    .user-list {

        grid-template-columns: repeat(3, 1fr);
    }
}